@font-face{font-family:"Phosphor";src:url("Phosphor.woff2") format("woff2");font-weight:normal;font-style:normal;font-display:swap}
.ph { font-family: "Phosphor" !important; speak: never; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; letter-spacing: 0; font-feature-settings: "liga"; font-variant-ligatures: discretionary-ligatures; }
.ph.ph-airplane-tilt:before{content:"\e5d6"}
.ph.ph-arrow-counter-clockwise:before{content:"\e038"}
.ph.ph-arrow-left:before{content:"\e058"}
.ph.ph-arrow-right:before{content:"\e06c"}
.ph.ph-arrow-up:before{content:"\e08e"}
.ph.ph-arrows-out-simple:before{content:"\e0a6"}
.ph.ph-calculator:before{content:"\e538"}
.ph.ph-calendar-check:before{content:"\e712"}
.ph.ph-car-profile:before{content:"\e8cc"}
.ph.ph-chat-circle-dots:before{content:"\e16c"}
.ph.ph-chat-circle-text:before{content:"\e16e"}
.ph.ph-check:before{content:"\e182"}
.ph.ph-copy:before{content:"\e1ca"}
.ph.ph-envelope-simple:before{content:"\e218"}
.ph.ph-file-arrow-up:before{content:"\e61e"}
.ph.ph-files:before{content:"\e710"}
.ph.ph-hand-palm:before{content:"\e57e"}
.ph.ph-house:before{content:"\e2c2"}
.ph.ph-info:before{content:"\e2ce"}
.ph.ph-list:before{content:"\e2f0"}
.ph.ph-magnifying-glass:before{content:"\e30c"}
.ph.ph-navigation-arrow:before{content:"\eade"}
.ph.ph-note-pencil:before{content:"\e34c"}
.ph.ph-paper-plane-right:before{content:"\e396"}
.ph.ph-phone:before{content:"\e3b8"}
.ph.ph-plus:before{content:"\e3d4"}
.ph.ph-printer:before{content:"\e3dc"}
.ph.ph-share-network:before{content:"\e408"}
.ph.ph-shield-check:before{content:"\e40c"}
.ph.ph-sidebar-simple:before{content:"\ec24"}
.ph.ph-signature:before{content:"\ebac"}
.ph.ph-trash:before{content:"\e4a6"}
.ph.ph-whatsapp-logo:before{content:"\e5d0"}
.ph.ph-x:before{content:"\e4f6"}
@font-face{font-family:"Phosphor-Fill";src:url("Phosphor-Fill.woff2") format("woff2");font-weight:normal;font-style:normal;font-display:swap}
.ph-fill { font-family: "Phosphor-Fill" !important; speak: never; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; letter-spacing: 0; font-feature-settings: "liga"; font-variant-ligatures: discretionary-ligatures; }
.ph-fill.ph-airplane-tilt:before{content:"\e5d6"}
.ph-fill.ph-arrow-counter-clockwise:before{content:"\e038"}
.ph-fill.ph-arrow-left:before{content:"\e058"}
.ph-fill.ph-arrow-right:before{content:"\e06c"}
.ph-fill.ph-arrow-up:before{content:"\e08e"}
.ph-fill.ph-arrows-out-simple:before{content:"\e0a6"}
.ph-fill.ph-calculator:before{content:"\e538"}
.ph-fill.ph-calendar-check:before{content:"\e712"}
.ph-fill.ph-car-profile:before{content:"\e8cc"}
.ph-fill.ph-chat-circle-dots:before{content:"\e16c"}
.ph-fill.ph-chat-circle-text:before{content:"\e16e"}
.ph-fill.ph-check:before{content:"\e182"}
.ph-fill.ph-copy:before{content:"\e1ca"}
.ph-fill.ph-envelope-simple:before{content:"\e218"}
.ph-fill.ph-file-arrow-up:before{content:"\e61e"}
.ph-fill.ph-files:before{content:"\e710"}
.ph-fill.ph-hand-palm:before{content:"\e57e"}
.ph-fill.ph-house:before{content:"\e2c2"}
.ph-fill.ph-info:before{content:"\e2ce"}
.ph-fill.ph-list:before{content:"\e2f0"}
.ph-fill.ph-magnifying-glass:before{content:"\e30c"}
.ph-fill.ph-navigation-arrow:before{content:"\eade"}
.ph-fill.ph-note-pencil:before{content:"\e34c"}
.ph-fill.ph-paper-plane-right:before{content:"\e396"}
.ph-fill.ph-phone:before{content:"\e3b8"}
.ph-fill.ph-plus:before{content:"\e3d4"}
.ph-fill.ph-printer:before{content:"\e3dc"}
.ph-fill.ph-share-network:before{content:"\e408"}
.ph-fill.ph-shield-check:before{content:"\e40c"}
.ph-fill.ph-sidebar-simple:before{content:"\ec24"}
.ph-fill.ph-signature:before{content:"\ebac"}
.ph-fill.ph-trash:before{content:"\e4a6"}
.ph-fill.ph-whatsapp-logo:before{content:"\e5d0"}
.ph-fill.ph-x:before{content:"\e4f6"}
